*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#f7f7f7;
}

/* NAVBAR */
header{
    width:100%;
    padding:20px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#fff;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logo img{
    width:85px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    text-decoration:none;
    color:#333;
    font-size:17px;
    transition:0.3s;
}

nav ul li a:hover{
    color:#d62828;
}

.active{
    background:#d62828;
    color:#fff !important;
    padding:10px 18px;
    border-radius:8px;
}

/* HERO */
.contact-hero{
    text-align:center;
    padding:80px 20px 50px;
}

.contact-hero h1{
    font-size:55px;
    color:#2e7d32;
}

.contact-hero span{
    color:#d62828;
}

.line{
    width:100px;
    height:4px;
    background:#2e7d32;
    margin:20px auto;
}

.contact-hero p{
    max-width:700px;
    margin:auto;
    color:#555;
    font-size:18px;
    line-height:1.8;
}

/* CONTACT SECTION */
.contact-container{
    width:90%;
    margin:auto;
    padding-bottom:80px;

    display:flex;
    justify-content:space-between;
    gap:40px;
}

/* CONTACT INFO */
.contact-info{
    width:40%;
    background:#fff;
    padding:40px;
    border-radius:18px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.contact-info h2{
    color:#d62828;
    margin-bottom:20px;
}

.contact-info p{
    color:#555;
    line-height:1.8;
}

.info-box{
    margin-top:30px;
}

.info-box h3{
    color:#2e7d32;
    margin-bottom:8px;
}

/* FORM */
.contact-form{
    width:55%;
    background:#fff;
    padding:40px;
    border-radius:18px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

form{
    display:flex;
    flex-direction:column;
}

form input,
form textarea{
    margin-bottom:20px;
    padding:15px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
    outline:none;
}

form textarea{
    height:160px;
    resize:none;
}

form button{
    background:#d62828;
    color:#fff;
    border:none;
    padding:15px;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

form button:hover{
    background:#2e7d32;
}

/* RESPONSIVE */
@media(max-width:1000px){

    header{
        flex-direction:column;
        gap:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .contact-container{
        flex-direction:column;
    }

    .contact-info,
    .contact-form{
        width:100%;
    }

    .contact-hero h1{
        font-size:40px;
    }
}
